aescipher==6.0.0
asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cryptography==36.0.2
Django==4.0.4
django-cors-headers==3.11.0
djangorestframework==3.13.1
docopt==0.6.2
easyrsa==3.1.0
encryptedsocket==3.0.0
idna==3.3
munch==2.5.0
numpy==1.22.3
omnitools==0.0.259
Pillow==9.1.0
pipreqs==0.4.11
pycparser==2.21
pycryptodome==3.14.1
pyftpdlib==1.5.6
pyOpenSSL==22.0.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
python-dateutil==2.8.2
pytz==2022.1
qtgui==0.0.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
threadwrapper==0.10.0
tzdata==2022.1
unencryptedsocket==2.0.0
urllib3==1.26.9
yarg==0.1.9
